@charset "UTF-8";

@font-face {
	font-family: "HARLOWSI";
	src: url("HARLOWSI.TTF");
}

@font-face {
	font-family: "aLight";
	src: url("aLight.TTF");
}

body .title {
	font-family: "HARLOWSI";
	font-size: 100px;
}

body a {
	color: black;
}

.container {
	width: 1000px;
	margin: auto;
}


.titleImg {
	margin-top: 100px;
	margin-bottom: 100px;
}

.nfont {
	font-family: "aLight";
	font-size: 20px;
}

#login {
	margin-right: 10px;
}

a {
	text-decoration-line: none;
}

.line {
	height: 10px;
	background-color: LightGray;
	border: 0;
}

.pIcon, .bImgDiv, .nImgDiv {
	display: flex;
}

.iicon, .Img {
	flex: 1;
	margin-top: 20px;
}

.iiconName {
	flex: 1;
	margin-top: 10px;
	margin-bottom: 20px;
}

.beest, .neew {
	margin-top: 200px;
	font-size: 30px;
	font-family: "HARLOWSI";
}

.bImgDiv {
	margin-bottom: 120px;
}
