@charset "UTF-8";

.proContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.photo {
	flex: 1;

}

#p_image {
	width: 200px;
	height: 200px;
	padding: 20px;
}

.p_title {
	font-weight: bold;
}

.prodContainer {
	margin-left: 400px;
	font-family: "a109";
}

.proTitle {
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 8px;
}

.addBtn {
	padding: 20px;	
	margin-top: 40px;
}

#productAddBtn {
	width: 70px;
}

button, #p_category_code, #p_info {
	font-family: "a109";
}

#p_category_code, #category{
	font-size: 15px;
	padding: 2px;
}
.detailPro {
	width: 66px;
	margin-bottom: 15px;
}

#infoI, #thumbI {
	font-size: 9pt;
	color: gray;
	margin-top: 10px;
}


.order_item_area, .order__item__area {
	margin-top: 10px;
	margin-bottom: 20px;
}

.ulAddress_li {
	margin-left: 70px;
}

#order-table {
	border-collapse: collapse;
}

#order-table th {
	padding: 5px;
}

#order-table tbody td img {
	margin-top: 10px;
}

#product_payment {
	height: 30px;
	width: 80px;
	font-size: 12pt;
}
.pro_Name {
	padding: 10px;
}

#total-price-display {
	font-size: 14pt;
	padding: 40px;
	color: blue;
}

.order__delivery_inner {
	margin-bottom: 100px;
}