<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.evo.product.ProductMapper">

	<!-- categoryName -->
	<select id="categoryList" resultType="map">
		select * from evo_category
	</select>
	
	<!-- detailCategoryName -->
	<select id="detailCateList" parameterType="int" resultType="map">
		select d_category_detail_code, d_category_detail_name  
		  from evo_category_detail
		 where d_category_code = #{c_category_code}
	</select>
	
	<!-- 상품 추가 -->
	<insert id="addProduct" parameterType="com.market.evo.product.Product" >
		insert into evo_product
		 values (
		 		seq_p_product_no.nextval,
		 		#{p_product_name},
		 		#{p_m_id},
		 		#{p_category_code},
		 		#{p_price},
		 		#{p_info},
		 		#{p_photo},
		 		default,
		 		default,
		 		default
		 )
	</insert>
	
	<select id="idViewProduct" parameterType="String" resultType="map">
		select p_info, p_price, p_photo, p_product_name, p_product_no
		  from evo_product
		 where p_m_id = #{p_m_id}
	</select>
</mapper>